.section__book-trip {
  padding-bottom: 200px;
  position: relative;
}

.container__book-trip {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.subtitle__book-trip {
  text-align: left;
  @media screen and (max-width: 770px) {
    text-align: center;
  }
}
.title__book-trip {
  margin-bottom: 31px;
  max-width: 510px;
  text-align: left;
  @media screen and (max-width: 770px) {
    text-align: center;
    margin: 0 auto 31px auto;
  }
  @media screen and (max-width: 430px) {
    font-size: 38px;
    text-align: center;
    margin: 0 auto 50px auto;
  }
  @media screen and (max-width: 430px) {
    font-size: 34px;
  }
  @media screen and (max-width: 322px) {
    font-size: 29px;
  }
}

.book-trip__descriptions {
  display: flex;
  flex-direction: column;
  gap: 48px 0;
}

.book-trip__description {
  display: flex;
  align-items: center;
  gap: 21px;
}

.book-trip__text {
  max-width: 400px;
  @media screen and (max-width: 428px){
    max-width: 300px;
    font-size: 16px;
  };
  
}

.book-trip__flex {
  @media screen and (max-width: 770px) {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
  }
}

.book-trip__first-item {
  @media screen and (max-width: 770px) {
    margin: 0 auto;
  }
}

.book-trip__second-item {
  @media screen and (max-width: 770px) {
    margin-left: 250px;
  }
  @media screen and (max-width: 430px) {
    margin-left: 173px;
  }
  @media screen and (max-width: 377px) {
    margin-left: 153px;
  }
}

.book-trip__card {
  position: absolute;
  top: 61px;
  right: 400px;
  max-width: 370px;
  border-radius: 26px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01),
    0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01),
    0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  padding: 20px 25px 31px 25px;
  @media screen and (max-width: 1444px) {
    top: 80px;
    right: 239px;
  }
  @media screen and (max-width: 1026px) {
    max-width: 330px;
    top: 103px;
    right: 145px;
  }
  @media screen and (max-width: 770px) {
    position: relative;
    margin: 0 auto;
  }
  @media screen and (max-width: 430px) {
    width: 330px;
  }

  @media screen and (max-width: 377px) {
    width: 320px;
  }
  @media screen and (max-width: 322px) {
    width: 270px;
  }
}

.book-trip__bg-card-decore {
  position: absolute;
  top: -150px;
  right: 140px;
  z-index: -5;
  @media screen and (max-width: 1444px) {
    top: -150px;
    right: 37px;
  }
  @media screen and (max-width: 1026px) {
    top: -100px;
    right: 10px;
  }
  @media screen and (max-width: 770px) {
    top: 450px;
  }
  @media screen and (max-width: 430px) {
    top: 565px;
  }
  @media screen and (max-width: 377px) {
    top: 535px;
  }
  @media screen and (max-width: 322px) {
    top: 705px;
  }
}

.book-trip__card-img {
  margin-bottom: 26px;
}

.book-trip__card-title {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
}

.book-trip__card-text {
  font-size: 16px;
  color: #84829a;
  margin-bottom: 21px;
}

.book-trip__card-icons {
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.count-people-and-favorite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-people {
  font-size: 16px;
  padding-left: 30px;
  position: relative;
  &::before {
    position: absolute;
    top: 5px;
    left: 0;
    content: "";
    width: 16px;
    height: 16px;
    background: url(..//img/book-trip/img-before-count-people.jpg);
  }
}

.book-trip__inner-card {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01),
    0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01),
    0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  border-radius: 18px;
  max-width: 263px;
  min-height: 129px;
  position: absolute;
  top: 209px;
  right: -110px;
  padding: 16px 25px 22px 20px;
  display: flex;
  gap: 0 12px;
  @media screen and (max-width: 430px) {
    max-width: 230px;
    right: -20px;
  }
}

.img-container {
  width: 50px;
  height: 50px;
}

.inner-card-subtitle {
  color: #84829a;
  font-weight: 500;
  font-size: 14px;
}

.inner-card-title {
  font-weight: 500;
  font-size: 18px;
  color: #080809;
  margin-bottom: 14px;
}

.inner-card-bar {
  font-size: 14px;
  font-weight: 500;
  color: #080809;
  margin-bottom: 10px;
}

.inner-card-percent {
  color: #8a79df;
}
