.section__destinations {
  padding-bottom: 186px;
}

.container__destinations {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.destinations__title {
  margin-bottom: 60px;
  @media screen and (max-width: 426px) {
    font-size: 46px;
  }
  @media screen and (max-width: 376px) {
    font-size: 40px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 322px) {
    font-size: 33px;
  }
}

.destinations__cards {
  display: flex;
  align-items: center;
  gap: 35px;
  @media screen and (max-width: 880px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 770px) {
    gap: 50px;
  }
}

.destinations__card__one,
.destinations__card__two,
.destinations__card__three {
  @media screen and (max-width: 426px) {
    margin: 0 auto;
  }
}
.destinations__card__one {
  border-radius: 26px;
  width: 314px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01),
    0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01),
    0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: url("path_to_image");
  background: url("path_to_image");
  background: url(..//img/destinations/first-card-img.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
}

.destinations__card__two {
  border-radius: 26px;
  width: 314px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01),
    0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01),
    0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: url("path_to_image");
  background: url(..//img/destinations/second-card-img.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  margin-right: 25px;

  @media screen and (max-width: 426px) {
    margin: 0px auto;
  }
}

.destinations__card__three {
  border-radius: 26px;
  width: 314px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01),
    0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01),
    0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: url("path_to_image");
  background: url(..//img/destinations/third-card-img.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  position: relative;
}

.destinations__card-decore-img {
  position: absolute;
  top: 158px;
  left: 259px;
  z-index: -10;
  @media screen and (max-width: 1444px) {
    display: none;
  }
}

.card-place-price-and-date {
  padding: 24px 25px 42px 20px;
  margin-top: 327px;
  background: #fff;
  border-radius: 0 0 24px 24px;
}

.place-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.card-place {
  font-weight: 600;
}

.card-date {
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
  position: relative;
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(..//img/destinations/arrow.jpg);
    position: absolute;
    top: 4px;
    left: 0;
  }
}
