/*------header top------*/

.header {
  min-height: 960px;
  background: url(../img/header/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 1444px) {
    min-height: 754px;
  }
}

.header__top {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 47px 0 18px 0;
  @media screen and (max-width: 840px) {
    justify-content: space-between;
  }
}

.header__container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

/*-------burger mobile menu-----------*/

.header__top.header__mobile {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
}

.header__top.header__mobile .nav__list {
  display: block;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  font-size: 30px;
  gap: 30px;
}

.header__top.header__mobile .nav {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

.header__top.header__mobile .logo-link {
  position: absolute;
  top: 50px;
  left: 40px;
  @media screen and (max-width: 378px) {
    top: 40px;
  }
  @media screen and (max-width: 322px) {
    left: 30px;
  }
}

.header__top.header__mobile .login-and-sign-up {
  display: none;
  @media screen and (max-width: 425px) {
    display: flex;
    position: absolute;
    top: 180px;
    gap: 26px;
    font-size: 25px;
  }
  @media screen and (max-width: 390px) {
    top: 135px;
  }
  @media screen and (max-width: 378px) {
    top: 130px;
  }
  @media screen and (max-width: 322px) {
    top: 95px;
  }
}

.login-link {
  @media screen and (max-width: 425px) {
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 9px 18px 8px 22px;
    background: #fff1da;
  }
}

.burger-btn {
  width: 50px;
  height: 20px;
  display: none;
  position: relative;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  @media screen and (max-width: 840px) {
    display: block;
  }
}

.burger-btn::before {
  top: 0;
}

.burger-btn::after {
  bottom: 0;
}

.burger-btn span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.burger-btn--active {
  &:before {
    transition: all 0.5s ease;
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
    top: 0;
    transition: all 0.5s ease;
  }
  span {
    scale: (0);
  }
}
.burger-btn.burger-btn--active {
  position: absolute;
  top: 70px;
  right: 50px;
  @media screen and (max-width: 378px) {
    top: 60px;
    width: 40px;
  }
  @media screen and (max-width: 322px) {
    top: 50px;
  }
}

/*----- burger menu end-----------*/

.logo-link {
  margin-right: 222px;
  @media screen and (max-width: 1444px) {
    margin-right: 160px;
  }
  @media screen and (max-width: 1080px) {
    margin-right: 110px;
  }
  @media screen and (max-width: 990px) {
    margin-right: 70px;
  }

  @media screen and (max-width: 840px) {
    margin-right: 180px;
  }
  @media screen and (max-width: 730px) {
    margin-right: 200px;
  }

  @media screen and (max-width: 650px) {
    margin-right: 125px;
  }

  @media screen and (max-width: 590px) {
    margin-right: 85px;
  }

  @media screen and (max-width: 500px) {
    margin-right: 55px;
  }

  @media screen and (max-width: 450px) {
    margin-right: 30px;
  }
  @media screen and (max-width: 322px) {
    top: 30px !important;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;

  font-family: $font-navbar;
  font-size: 17px;
  font-weight: 700;
  color: $navbar-color;
  @media screen and (max-width: 840px) {
    display: none;
  }
  @media screen and (max-width: 378px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 322px) {
    margin-top: 0px;
  }
}

.list__item {
  margin-right: 60px;
  &:first-child {
    margin-right: 47px;
  }
  @media screen and (max-width: 950px) {
    margin-right: 40px;
    &:first-child {
      margin-right: 37px;
    }
  }
}

.login-and-sign-up {
  display: flex;
  align-items: center;
  gap: 0 49px;

  font-family: $font-navbar;
  font-size: 17px;
  font-weight: 700;
  color: $navbar-color;
  @media screen and (max-width: 1000px) {
    gap: 0 35px;
  }
  @media screen and (max-width: 900px) {
    gap: 0 20px;
  }
  @media screen and (max-width: 450px) {
    gap: 5px;
  }
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.sign-up-link {
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 9px 18px 8px 22px;
  @media screen and (max-width: 425px) {
    background: #fff1da;
  }
}

/* header top end */

/* header content */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__content {
  padding: 117px 0 112px 0;
  position: relative;
  @media screen and (max-width: 1444px) {
    padding: 80px 0 90px 0;
  }
  @media screen and (max-width: 880px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 450px) {
    padding: 70px 0 90px 0;
  }
  @media screen and (max-width: 322px) {
    padding: 40px 0;
  }
}

.header__content__second-item {
  position: absolute;
  top: 10px;
  right: -80px;
  @media screen and (max-width: 1444px) {
    top: 20px;
    right: -22px;
  }
  @media screen and (max-width: 1080px) {
    top: 20px;
    right: -20px;
  }
  @media screen and (max-width: 880px) {
    display: none;
  }
}

.header__content__second-item__img {
  @media screen and (max-width: 1444px) {
    width: 650px;
    height: 650px;
  }
  @media screen and (max-width: 1080px) {
    width: 600px;
    height: 600px;
  }
}

.header__subtitle {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #df6951;
  font-family: $font-main;
  @media screen and (max-width: 450px) {
    font-size: 18px;
  }
}

.header__title {
  max-width: 545px;
  margin: 24px 0 30px 0;
  line-height: 106%;
  letter-spacing: -0.04em;
  color: $header-title-color;
  font-weight: 700;
  font-size: 84px;
  font-family: $font-accent;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 1080px) {
    font-size: 75px;
  }
  @media screen and (max-width: 770px) {
    margin: 20px 0;
  }
  @media screen and (max-width: 550px) {
    font-size: 70px;
  }
  @media screen and (max-width: 500px) {
    font-size: 65px;
  }
  @media screen and (max-width: 450px) {
    font-size: 59px;
  }
  @media screen and (max-width: 378px) {
    font-size: 52px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 77px;
    left: 233px;
    right: 0;
    bottom: 0;
    width: 385px;
    height: 12px;
    background: url(../img/header/decore-title.png);
    z-index: -1;
    @media screen and (max-width: 1080px) {
      top: 61px;
      left: 211px;
    }
    @media screen and (max-width: 880px) {
      width: 280px;
    }
    @media screen and (max-width: 550px) {
      top: 62px;
      left: 194px;
    }
    @media screen and (max-width: 500px) {
      width: 276px;
      top: 57px;
      left: 173px;
    }
    @media screen and (max-width: 500px) {
      top: 47px;
      left: 120px;
    }
    @media screen and (max-width: 425px) {
      left: 106px;
    }
    @media screen and (max-width: 378px) {
      left: 70px;
    }
    @media screen and (max-width: 350px) {
      top: 96px;
      left: -25px;
    }
  }
}

.header__description {
  max-width: 477px;
  font-family: $font-main;
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: $main-text-color;
  margin-bottom: 34px;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 100px;
  @media screen and (max-width: 377px) {
    gap: 87px;
  }
  @media screen and (max-width: 340px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
  }
}

.header-btn-find-more {
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);
  background: #f1a501;
  padding: 19px 21px 16px 22px;
  @media screen and (max-width: 377px) {
    padding: 17px;
    font-size: 18px;
  }
}
.header-btn-play-demo {
  position: relative;
  font-family: $font-main;
  font-weight: 500;
  font-size: 17px;
  color: #686d77;
  @media screen and (max-width: 350px) {
    padding-left: 62px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: -90px;
    width: 100px;
    height: 100px;
    background-image: url(../img/play-btn.svg);
    background-position: center;
    @media screen and (max-width: 377px) {
      left: -86px;
    }
    @media screen and (max-width: 350px) {
      left: -25px;
    }
  }
}
