.section__logos {
  padding-bottom: 111px;
}
.logos__container {
  max-width: 1113px;
  margin: 0 auto;
  padding: 0 20px;
}
.logos__row {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1444px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 427px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.logos__row__img {
  transition: 0.2s ease-in-out all;
  padding: 15px 30px;
  @media screen and (max-width: 770px) {
    padding: 0px;
  }

  &:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01),
      0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01),
      0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
    border-radius: 10px;
  }
}

img.logos__row__img-1,
img.logos__row__img-2,
img.logos__row__img-3,
img.logos__row__img-4,
img.logos__row__img-5 {
  @media screen and (max-width: 427px) {
    margin: 0 auto;
  }
}

.logos__row__img-1 {
  padding: 0px 40px;
  @media screen and (max-width: 1444px) {
    margin-left: 150px;
  }
  @media screen and (max-width: 770px) {
    margin-left: 37px;
  }
}

.logos__row__img-3 {
  padding: 0px 80px;
}

.logos__row__img-4 {
  padding: 50px 40px;
  @media screen and (max-width: 1444px) {
    margin-left: 300px;
  }
  @media screen and (max-width: 770px) {
    margin-left: 150px;
  }
}
.logos__row__img-5 {
  padding: 60px;
}
