.section__news {
  padding: 80px;
  border-radius: 129px 20px 20px 20px;
  max-width: 1170px;
  min-height: 407px;
  margin: 0 auto;
  background: rgba(223, 215, 249, 0.2);
  position: relative;
  @media screen and (max-width: 322px) {
    overflow-x: hidden;
  }
  &::before {
    opacity: 0.2;
    z-index: -1;
    content: "";
    position: absolute;
    top: 131px;
    left: 20px;
    width: 389px;
    height: 397px;
    background: url(..//img/news/left-decore.svg);
    background-repeat: no-repeat;
    @media screen and (max-width: 770px) {
      top: 142px;
    }
    @media screen and (max-width: 430px) {
      display: none;
    }
  }
  &::after {
    opacity: 0.2;
    content: "";
    position: absolute;
    top: 0;
    right: -57px;
    width: 264px;
    height: 351px;
    background: url(..//img/news/right-decore.svg);
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 1444px) {
    max-width: 850px;
  }
  @media screen and (max-width: 770px) {
    max-width: 630px;
  }
  @media screen and (max-width: 430px) {
    max-width: 310px;
    padding: 35px;
  }
  @media screen and (max-width: 430px) {
    max-width: 258px;
    padding: 35px;
  }
  @media screen and (max-width: 322px) {
    max-width: 258px;
    padding: 20px;
  }
}

.news__decore {
  position: absolute;
  top: 306px;
  right: -100px;
  @media screen and (max-width: 1444px) {
    display: none;
  }
}

.news__decore-plane {
  z-index: 10;
  position: absolute;
  top: -13px;
  right: -20px;
}

.news__title {
  font-size: 33px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 74px;
  @media screen and (max-width: 1444px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 770px) {
    font-size: 30px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 430px) {
    font-size: 25px;
    padding: 50px 0;
    margin-bottom: 0px;
  }
  @media screen and (max-width: 377px) {
    padding: 70px 0 40px 0px;
    font-size: 22px;
  }
}

.news__form {
  max-width: 625px;
  display: flex;
  gap: 0 24px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 425px) {
    gap: 24px;
    flex-direction: column;
  }
}

.news__form__input {
  width: 100%;
  outline: none;
  border: none;
  padding: 16px 56px;
  border-radius: 10px;
  background-color: #fff;
}

.news__form__input::placeholder {
  color: #39425d;
  font-size: 14px;
  font-weight: 600;
  font-style: $font-navbar;
}

.news__form__btn {
  font-size: 17px;
  font-weight: 600;
  font-style: $font-navbar;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  padding: 22px 50px;
}

.news__form__decore-inpt {
  position: absolute;
  top: 25px;
  left: 23px;
}
