.section__reviews {
  padding-bottom: 96px;
  @media screen and (max-width: 600px) {
    overflow-x: hidden;
  }
}

.reviews__container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__row {
  display: flex;
  gap: 0 120px;
  @media screen and (max-width: 1444px) {
    flex-direction: column;
  }
}

.reviews__subtitle {
  text-transform: uppercase;
  text-align: left;
  @media screen and (max-width: 1444px) {
    text-align: center;
    margin-bottom: 7px;
  }
}

.reviews__title {
  max-width: 410px;
  text-align: left;
  @media screen and (max-width: 1444px) {
    text-align: center;
    max-width: none;
    margin-bottom: 100px;
  }
  @media screen and (max-width: 365px) {
    font-size: 48px;
  }
  @media screen and (max-width: 322px) {
    font-size: 41px;
  }
}

.reviews__cards__container {
  position: relative;
}

.second-column {
  max-width: 600px;
  position: relative;
  @media screen and (max-width: 1444px) {
    margin: 0 auto 0 300px;
  }
  @media screen and (max-width: 770px) {
    margin: 0 auto 0 150px;
  }
  @media screen and (max-width: 427px) {
    margin: 0 auto 0 20px;
  }
  @media screen and (max-width: 377px) {
    margin: 0 auto 0 15px;
  }
}

.reviews__card__top {
  background: #fff;
  position: absolute;
  top: -9px;
  left: 0;
  border-radius: 10px;
  width: 504px;
  padding: 28px 34px 34px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01),
    0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01),
    0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  @media screen and (max-width: 650px) {
    max-width: 450px;
  }
  @media screen and (max-width: 427px) {
    width: 370px;
  }
  @media screen and (max-width: 377px) {
    width: 320px;
  }
  @media screen and (max-width: 322px) {
    width: 270px;
  }
}

.card__top__img-container {
  position: absolute;
  top: -34px;
  left: -37px;
  @media screen and (max-width: 363px) {
    top: -49px;
    left: -17px;
  }
  @media screen and (max-width: 322px) {
    top: -56px;
    left: -31px;
  }
}
.reviews__card__text {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 34px;
  @media screen and (max-width: 427px) {
    margin-bottom: 20px;
  }
}

.reviews__card__username {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.reviews__card__user-from {
  font-weight: 600;
  font-size: 14px;
}

.reviews__card__bottom {
  margin: 90px 0 0 50px;
  border: 2px solid #f7f7f7;
  width: 504px;
  border-radius: 10px;
  padding: 28px 34px 34px;
  @media screen and (max-width: 427px) {
    width: 350px;
  }
}
