$font-main: "Poppins", sans-serif;
$font-accent: "Volkhov", sans-serif;
$font-navbar: "Open-Sans", sans-serif;

$header-title-color: #181e4b;
$title-color: #14183e;
$main-text-color: #5e6282;
$navbar-color: #212832;
