.header {
  padding: 51px 0 51px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner__mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
    z-index: 10;
  }
}

.menu {
  margin-left: auto;
  margin-right: 31px;

  &__list {
    display: flex;
    gap: 0 40px;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &__list__item {
    list-style-type: none;
  }

  &__list__link {
    text-decoration: none;
    color: $nav-color;
    font-size: $font-size-nav;
  }
}

.burger-btn {
  display: none;
}

.search-btn {
  border: none;
  background: transparent;
}

.no-scroll {
  overflow-y: hidden;
}

@media (max-width: 1441px) {
  .header {
    padding: 30px 0;
  }
  .menu {
    margin-right: 50px;
  }
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }

  .header__inner {
    display: flex;
  }

  .search-btn {
    margin-left: 300px;
  }

  .header__inner__mobile {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
  }

  .header__inner__mobile .logo {
    position: absolute;
    top: 90px;
    left: 50px;
  }

  .header__inner__mobile .menu {
    display: flex;
    margin: 0 auto;

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
    }

    &__list__link {
      font-size: 35px;
    }
  }

  .header__inner__mobile .search-btn {
    display: none;
  }

  .header__inner__mobile .burger-btn {
    position: absolute;
    top: 115px;
    right: 100px;
  }

  .burger-btn {
    transition: all 0.5s ease-in-out;
    position: relative;
    width: 40px;
    height: 20px;
    border: none;
    background-color: transparent;
    display: block;
    order: 1;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
    }
  }

  .burger-btn::before {
    top: 0;
  }

  .burger-btn::after {
    bottom: 0;
  }

  .burger-btn span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .burger-btn--active {
    &:before {
      transition: all 0.5s ease;
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
      top: 0;
      transition: all 0.5s ease;
    }
    span {
      scale: (0);
    }
  }
}

@media (max-width: 700px) {
  .search-btn {
    margin-left: 150px;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .search-btn {
    margin-left: 75px;
    margin-right: 20px;
  }

  .logo{
    top: 86px;
    left: 35px
  }

  .header__inner__mobile .burger-btn {
    top: 113px;
    right: 40px;
  }
}

@media (max-width: 380px) {
  .search-btn {
    margin-left: 30px;
    margin-right: 20px;
  }
  .header__inner__mobile  .logo {
    left: 40px !important;
    top: 55px !important;
  }
  .header__inner__mobile .burger-btn {
    right: 20px;
    top: 82px;
  }
}

@media (max-width: 320px) {
  .header__inner__mobile .logo {
    top: 50px !important;
    left: 25px !important;
  }
  .header__inner__mobile .burger-btn {
    right: 20px;
    top: 77px;
  }
}
