.hero {
  background-image: url(../img/hero/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner {
    padding: 330px 0;
    max-width: 570px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 9px;

    text-transform: capitalize;
    font-family: $ff-title;
    font-weight: 400;
    font-size: 85px;
    line-height: 125%; /* 106.25px */
    color: $title-color;
  }

  &__text {
    margin-bottom: 21px;
  }
}

.btn {
  position: relative;

  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;

  width: 220px;
  padding: 26px 48px;

  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);

  &::after {
    position: absolute;
    content: "";
    background: url(../img/hero/hero-arrow.svg);
    display: block;
    width: 18px;
    height: 18px;
    top: 38%;
    right: 34px;
  }
}

@media (max-width: 1441px) {
  .hero {
    &__inner {
      max-width: 500px;
      padding: 200px 0 250px;
    }

    &__title {
      font-size: 65px;
    }
  }
}

@media (max-width: 1026px) {
  .hero {
    border-radius: 0 0 0 105px;
    &__inner {
      max-width: 500px;
      padding: 150px 30px;
    }

    &__title {
      font-size: 60px;
      line-height: 105%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 770px) {
  .hero {
    &__inner {
      max-width: 500px;
    }
  }
  .btn {
    width: 200px;
    padding: 25px 30px;

    &::after {
      right: 25px;
    }
  }
}

@media (max-width: 426px) {
  .hero {
    &__inner {
      padding-top: 125px;
      max-width: 400px;
    }

    &__title {
      font-size: 50px;
    }
    &__text {
      max-width: 350px;
    }
  }
}

@media (max-width: 376px) {
  .hero {
    &__inner {
      padding: 90px 20px 130px;
      max-width: 320px;
    }
    &__title {
      font-size: 55px;
    }
    &__text {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 322px) {
  .hero {
    &__title {
      font-size: 50px;
    }
    &__text{
      max-width: 250px;
      font-size: 20px;
    }
  }
}
