.projects {
  margin-bottom: 150px;

  &__title {
    margin-bottom: 8px;

    text-align: center;
  }
  &__text {
    margin-bottom: 93px !important;

    max-width: 737px;
    text-align: center;
    margin: 0 auto;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 98px;
  }

  &__item__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item__img {
    margin-bottom: 24px;
  }

  &__item__title-img {
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }
  &__item__genres {
    color: #4d5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &__item__arrow {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1202px) {
  .projects {
    &__box {
      gap: 56px 50px;
    }

    &__item {
      max-width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .projects {

    &__text{
      margin-bottom: 50px !important;
    }

    &__box {
      grid-template-columns: repeat(1,1fr);
      gap: 56px 40px;
    }

    &__item{
      margin-bottom: 90%;
      margin: 0 auto;
  
    }
  }
}

@media (max-width: 426px){
  .projects{
    &__item{
      max-width: 90%;
    }
  }
}

@media (max-width: 322px){
  .projects{
    &__item{
      max-width: 100%;
    }
  }
}