.reviews {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f4f0ec;
  border-radius: 55px;
  padding: 88px 0;

  &__container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__box {
    width: 370px;

    background-color: #fff;
    border-radius: 30px;
    padding: 52px 37px;
  }

  &__title {
    margin-bottom: 38px !important;

    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }

  &__box__inner {
    display: flex;
    gap: 0 23px;
    margin-bottom: 25px;
  }

  &__box__username {
    max-width: 174px;
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 37.5px */
    letter-spacing: 0.25px;
  }

  &__box__user-from {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.18px;
  }

  &__box__user-comment {
    color: #4d5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
}

@media (max-width: 1441px) {
  .reviews {
    padding: 60px 0;
  }
}

@media (max-width: 1025px) {
  .reviews {
    padding: 40px 0 80px;
    max-width: 940px;

    &__box__inner {
      gap: 0 15px;
    }
    &__inner {
      gap: 20px;
      justify-content: center;
      flex-wrap: nowrap;
    }

    &__box {
      width: 48%;
      padding: 25px 35px;
    }

    &__title {
      margin-bottom: 15px !important;
    }
  }
}

@media (max-width: 770px) {
  .reviews {
    padding: 50px;
    max-width: 700px;
    &__inner {
      display: grid;
    }
    &__title {
      margin-bottom: 25px !important;
    }
    &__box {
      margin: 0 auto;
      width: 75%;
    }
  }
}

@media (max-width: 425px) {
  .reviews {
    max-width: 380px;
    padding: 60px 0;

    &__box__username__second{
      font-size: 21px;
    }

    &__box__none {
      display: block;
    }

    &__inner {
      flex-wrap: wrap;
    }

    &__title {
      font-size: 40px;
      margin-bottom: 30px !important;
    }

    &__box {
      width: 95%;
      padding: 25px 35px;
    }
  }
}

@media (max-width: 375px) {
  .reviews {
    max-width: 330px;

    &__title {
      font-size: 35px;
    }

    &__box__username {
      font-size: 19px;
    }
  }
}

@media (max-width: 322px) {
  .reviews {
    border-radius: 25px;
    max-width: 276px;

    &__box__inner {
      align-items: center;
      gap: 0 15px;
    }
    &__box__username{
      font-size: 17px;
    }
    &__box__user-comment{
      font-size: 20px;
    }
    &__box__user-from{
      font-size: 16px;
    }
  }
}
