/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* open-sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
/* Volkhov */
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

.no-scroll {
  overflow-y: hidden;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: auto;
  color: #5e6282;
  text-align: center;
}

.title {
  font-family: "Volkhov", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: auto;
  text-transform: capitalize;
  color: #14183e;
  text-align: center;
}

.opacity-0 {
  opacity: 0;
}

.hide {
  display: none;
}

/*------header top------*/
.header {
  min-height: 960px;
  background: url(../img/header/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1444px) {
  .header {
    min-height: 754px;
  }
}

.header__top {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 47px 0 18px 0;
}
@media screen and (max-width: 840px) {
  .header__top {
    justify-content: space-between;
  }
}

.header__container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

/*-------burger mobile menu-----------*/
.header__top.header__mobile {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
}

.header__top.header__mobile .nav__list {
  display: block;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  font-size: 30px;
  gap: 30px;
}

.header__top.header__mobile .nav {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

.header__top.header__mobile .logo-link {
  position: absolute;
  top: 50px;
  left: 40px;
}
@media screen and (max-width: 378px) {
  .header__top.header__mobile .logo-link {
    top: 40px;
  }
}
@media screen and (max-width: 322px) {
  .header__top.header__mobile .logo-link {
    left: 30px;
  }
}

.header__top.header__mobile .login-and-sign-up {
  display: none;
}
@media screen and (max-width: 425px) {
  .header__top.header__mobile .login-and-sign-up {
    display: flex;
    position: absolute;
    top: 180px;
    gap: 26px;
    font-size: 25px;
  }
}
@media screen and (max-width: 390px) {
  .header__top.header__mobile .login-and-sign-up {
    top: 135px;
  }
}
@media screen and (max-width: 378px) {
  .header__top.header__mobile .login-and-sign-up {
    top: 130px;
  }
}
@media screen and (max-width: 322px) {
  .header__top.header__mobile .login-and-sign-up {
    top: 95px;
  }
}

@media screen and (max-width: 425px) {
  .login-link {
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 9px 18px 8px 22px;
    background: #fff1da;
  }
}

.burger-btn {
  width: 50px;
  height: 20px;
  display: none;
  position: relative;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.burger-btn:before, .burger-btn:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
@media screen and (max-width: 840px) {
  .burger-btn {
    display: block;
  }
}

.burger-btn::before {
  top: 0;
}

.burger-btn::after {
  bottom: 0;
}

.burger-btn span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.burger-btn--active:before {
  transition: all 0.5s ease;
  transform: rotate(45deg);
}
.burger-btn--active:after {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.5s ease;
}
.burger-btn--active span {
  scale: 0;
}

.burger-btn.burger-btn--active {
  position: absolute;
  top: 70px;
  right: 50px;
}
@media screen and (max-width: 378px) {
  .burger-btn.burger-btn--active {
    top: 60px;
    width: 40px;
  }
}
@media screen and (max-width: 322px) {
  .burger-btn.burger-btn--active {
    top: 50px;
  }
}

/*----- burger menu end-----------*/
.logo-link {
  margin-right: 222px;
}
@media screen and (max-width: 1444px) {
  .logo-link {
    margin-right: 160px;
  }
}
@media screen and (max-width: 1080px) {
  .logo-link {
    margin-right: 110px;
  }
}
@media screen and (max-width: 990px) {
  .logo-link {
    margin-right: 70px;
  }
}
@media screen and (max-width: 840px) {
  .logo-link {
    margin-right: 180px;
  }
}
@media screen and (max-width: 730px) {
  .logo-link {
    margin-right: 200px;
  }
}
@media screen and (max-width: 650px) {
  .logo-link {
    margin-right: 125px;
  }
}
@media screen and (max-width: 590px) {
  .logo-link {
    margin-right: 85px;
  }
}
@media screen and (max-width: 500px) {
  .logo-link {
    margin-right: 55px;
  }
}
@media screen and (max-width: 450px) {
  .logo-link {
    margin-right: 30px;
  }
}
@media screen and (max-width: 322px) {
  .logo-link {
    top: 30px !important;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  font-family: "Open-Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #212832;
}
@media screen and (max-width: 840px) {
  .nav__list {
    display: none;
  }
}
@media screen and (max-width: 378px) {
  .nav__list {
    margin-top: 50px;
  }
}
@media screen and (max-width: 322px) {
  .nav__list {
    margin-top: 0px;
  }
}

.list__item {
  margin-right: 60px;
}
.list__item:first-child {
  margin-right: 47px;
}
@media screen and (max-width: 950px) {
  .list__item {
    margin-right: 40px;
  }
  .list__item:first-child {
    margin-right: 37px;
  }
}

.login-and-sign-up {
  display: flex;
  align-items: center;
  gap: 0 49px;
  font-family: "Open-Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #212832;
}
@media screen and (max-width: 1000px) {
  .login-and-sign-up {
    gap: 0 35px;
  }
}
@media screen and (max-width: 900px) {
  .login-and-sign-up {
    gap: 0 20px;
  }
}
@media screen and (max-width: 450px) {
  .login-and-sign-up {
    gap: 5px;
  }
}
@media screen and (max-width: 425px) {
  .login-and-sign-up {
    display: none;
  }
}

.sign-up-link {
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 9px 18px 8px 22px;
}
@media screen and (max-width: 425px) {
  .sign-up-link {
    background: #fff1da;
  }
}

/* header top end */
/* header content */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__content {
  padding: 117px 0 112px 0;
  position: relative;
}
@media screen and (max-width: 1444px) {
  .header__content {
    padding: 80px 0 90px 0;
  }
}
@media screen and (max-width: 880px) {
  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .header__content {
    padding: 70px 0 90px 0;
  }
}
@media screen and (max-width: 322px) {
  .header__content {
    padding: 40px 0;
  }
}

.header__content__second-item {
  position: absolute;
  top: 10px;
  right: -80px;
}
@media screen and (max-width: 1444px) {
  .header__content__second-item {
    top: 20px;
    right: -22px;
  }
}
@media screen and (max-width: 1080px) {
  .header__content__second-item {
    top: 20px;
    right: -20px;
  }
}
@media screen and (max-width: 880px) {
  .header__content__second-item {
    display: none;
  }
}

@media screen and (max-width: 1444px) {
  .header__content__second-item__img {
    width: 650px;
    height: 650px;
  }
}
@media screen and (max-width: 1080px) {
  .header__content__second-item__img {
    width: 600px;
    height: 600px;
  }
}

.header__subtitle {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #df6951;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 450px) {
  .header__subtitle {
    font-size: 18px;
  }
}

.header__title {
  max-width: 545px;
  margin: 24px 0 30px 0;
  line-height: 106%;
  letter-spacing: -0.04em;
  color: #181e4b;
  font-weight: 700;
  font-size: 84px;
  font-family: "Volkhov", sans-serif;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1080px) {
  .header__title {
    font-size: 75px;
  }
}
@media screen and (max-width: 770px) {
  .header__title {
    margin: 20px 0;
  }
}
@media screen and (max-width: 550px) {
  .header__title {
    font-size: 70px;
  }
}
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 65px;
  }
}
@media screen and (max-width: 450px) {
  .header__title {
    font-size: 59px;
  }
}
@media screen and (max-width: 378px) {
  .header__title {
    font-size: 52px;
  }
}
.header__title::after {
  content: "";
  position: absolute;
  top: 77px;
  left: 233px;
  right: 0;
  bottom: 0;
  width: 385px;
  height: 12px;
  background: url(../img/header/decore-title.png);
  z-index: -1;
}
@media screen and (max-width: 1080px) {
  .header__title::after {
    top: 61px;
    left: 211px;
  }
}
@media screen and (max-width: 880px) {
  .header__title::after {
    width: 280px;
  }
}
@media screen and (max-width: 550px) {
  .header__title::after {
    top: 62px;
    left: 194px;
  }
}
@media screen and (max-width: 500px) {
  .header__title::after {
    width: 276px;
    top: 57px;
    left: 173px;
  }
}
@media screen and (max-width: 500px) {
  .header__title::after {
    top: 47px;
    left: 120px;
  }
}
@media screen and (max-width: 425px) {
  .header__title::after {
    left: 106px;
  }
}
@media screen and (max-width: 378px) {
  .header__title::after {
    left: 70px;
  }
}
@media screen and (max-width: 350px) {
  .header__title::after {
    top: 96px;
    left: -25px;
  }
}

.header__description {
  max-width: 477px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #5e6282;
  margin-bottom: 34px;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 377px) {
  .header__buttons {
    gap: 87px;
  }
}
@media screen and (max-width: 340px) {
  .header__buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
  }
}

.header-btn-find-more {
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);
  background: #f1a501;
  padding: 19px 21px 16px 22px;
}
@media screen and (max-width: 377px) {
  .header-btn-find-more {
    padding: 17px;
    font-size: 18px;
  }
}

.header-btn-play-demo {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #686d77;
}
@media screen and (max-width: 350px) {
  .header-btn-play-demo {
    padding-left: 62px;
  }
}
.header-btn-play-demo::before {
  content: "";
  position: absolute;
  top: -22px;
  left: -90px;
  width: 100px;
  height: 100px;
  background-image: url(../img/play-btn.svg);
  background-position: center;
}
@media screen and (max-width: 377px) {
  .header-btn-play-demo::before {
    left: -86px;
  }
}
@media screen and (max-width: 350px) {
  .header-btn-play-demo::before {
    left: -25px;
  }
}

.section__services {
  padding: 97px 0 123px 0;
  position: relative;
}
@media screen and (max-width: 430px) {
  .section__services {
    padding-top: 50px;
  }
}
@media screen and (max-width: 322px) {
  .section__services {
    padding-top: 90px;
  }
}
.section__services::after {
  content: "";
  position: absolute;
  top: 111px;
  right: 213px;
  width: 153px;
  height: 166px;
  background: url(..//img/services/pluses-decore.png);
}
@media screen and (max-width: 1444px) {
  .section__services::after {
    display: none;
  }
}

.services__container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__services__title {
  margin-bottom: 66px;
}
@media screen and (max-width: 322px) {
  .section__services__title {
    font-size: 42px;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1026px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 770px) {
  .cards {
    gap: 30px 0;
    margin: 0 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .cards {
    margin: 0px;
  }
}
@media screen and (max-width: 400px) {
  .cards {
    grid-template-columns: repeat(1, 350px);
    gap: 15px 0;
  }
}
@media screen and (max-width: 322px) {
  .cards {
    grid-template-columns: repeat(1, 280px);
    gap: 15px 0;
  }
}

.card {
  text-align: center;
  padding: 0 40px 40px 40px;
  transition: 0.35s all ease-in-out;
  position: relative;
}
@media screen and (max-width: 1026px) {
  .card {
    padding: 0 20px 40px;
  }
}
@media screen and (max-width: 770px) {
  .card {
    margin: 0 auto;
    padding: 0 20px 40px;
  }
}
.card:hover {
  border-radius: 36px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
}
.card:hover .card__hover-effect {
  opacity: 1;
}

.card__hover-effect {
  opacity: 0;
  position: absolute;
  top: 200px;
  right: 202px;
  border-radius: 30px 0 10px 0;
  width: 100px;
  height: 100px;
  background: #df6951;
  transition: 0.2s ease-in-out opacity;
  z-index: -1;
}

.card__img {
  margin: 0 auto 35px auto;
}

.card__img.card__1-img {
  width: 92px;
  height: 78px;
}

.card__img.card-2-img {
  width: 156px;
  height: 85px;
  margin-top: -6px;
}

.card__img.card-3-img {
  width: 67px;
  height: 75px;
}

.card__img.card-4-img {
  width: 77px;
  height: 66px;
  margin-top: 11px;
}
@media screen and (max-width: 1026px) {
  .card__img.card-4-img {
    margin-top: 18px;
  }
}
@media screen and (max-width: 426px) {
  .card__img.card-4-img {
    margin-top: 8px;
  }
}

.card__title {
  max-width: 195px;
  font-family: "Open-Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1e1d4c;
  margin-bottom: 15px;
}
@media screen and (max-width: 1026px) {
  .card__title {
    font-size: 17px;
  }
}
@media screen and (max-width: 426px) {
  .card__title {
    font-size: 16px;
  }
}

.card__text {
  max-width: 181px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
  text-align: center;
  color: #5e6282;
}
@media screen and (max-width: 1026px) {
  .card__text {
    font-size: 15px;
  }
}

.section__destinations {
  padding-bottom: 186px;
}

.container__destinations {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.destinations__title {
  margin-bottom: 60px;
}
@media screen and (max-width: 426px) {
  .destinations__title {
    font-size: 46px;
  }
}
@media screen and (max-width: 376px) {
  .destinations__title {
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 322px) {
  .destinations__title {
    font-size: 33px;
  }
}

.destinations__cards {
  display: flex;
  align-items: center;
  gap: 35px;
}
@media screen and (max-width: 880px) {
  .destinations__cards {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 770px) {
  .destinations__cards {
    gap: 50px;
  }
}

@media screen and (max-width: 426px) {
  .destinations__card__one,
  .destinations__card__two,
  .destinations__card__three {
    margin: 0 auto;
  }
}

.destinations__card__one {
  border-radius: 26px;
  width: 314px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: url("path_to_image");
  background: url("path_to_image");
  background: url(..//img/destinations/first-card-img.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
}

.destinations__card__two {
  border-radius: 26px;
  width: 314px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: url("path_to_image");
  background: url(..//img/destinations/second-card-img.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  margin-right: 25px;
}
@media screen and (max-width: 426px) {
  .destinations__card__two {
    margin: 0px auto;
  }
}

.destinations__card__three {
  border-radius: 26px;
  width: 314px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: url("path_to_image");
  background: url(..//img/destinations/third-card-img.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  position: relative;
}

.destinations__card-decore-img {
  position: absolute;
  top: 158px;
  left: 259px;
  z-index: -10;
}
@media screen and (max-width: 1444px) {
  .destinations__card-decore-img {
    display: none;
  }
}

.card-place-price-and-date {
  padding: 24px 25px 42px 20px;
  margin-top: 327px;
  background: #fff;
  border-radius: 0 0 24px 24px;
}

.place-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.card-place {
  font-weight: 600;
}

.card-date {
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
  position: relative;
}
.card-date::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(..//img/destinations/arrow.jpg);
  position: absolute;
  top: 4px;
  left: 0;
}

.section__book-trip {
  padding-bottom: 200px;
  position: relative;
}

.container__book-trip {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.subtitle__book-trip {
  text-align: left;
}
@media screen and (max-width: 770px) {
  .subtitle__book-trip {
    text-align: center;
  }
}

.title__book-trip {
  margin-bottom: 31px;
  max-width: 510px;
  text-align: left;
}
@media screen and (max-width: 770px) {
  .title__book-trip {
    text-align: center;
    margin: 0 auto 31px auto;
  }
}
@media screen and (max-width: 430px) {
  .title__book-trip {
    font-size: 38px;
    text-align: center;
    margin: 0 auto 50px auto;
  }
}
@media screen and (max-width: 430px) {
  .title__book-trip {
    font-size: 34px;
  }
}
@media screen and (max-width: 322px) {
  .title__book-trip {
    font-size: 29px;
  }
}

.book-trip__descriptions {
  display: flex;
  flex-direction: column;
  gap: 48px 0;
}

.book-trip__description {
  display: flex;
  align-items: center;
  gap: 21px;
}

.book-trip__text {
  max-width: 400px;
}
@media screen and (max-width: 428px) {
  .book-trip__text {
    max-width: 300px;
    font-size: 16px;
  }
}

@media screen and (max-width: 770px) {
  .book-trip__flex {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
  }
}

@media screen and (max-width: 770px) {
  .book-trip__first-item {
    margin: 0 auto;
  }
}

@media screen and (max-width: 770px) {
  .book-trip__second-item {
    margin-left: 250px;
  }
}
@media screen and (max-width: 430px) {
  .book-trip__second-item {
    margin-left: 173px;
  }
}
@media screen and (max-width: 377px) {
  .book-trip__second-item {
    margin-left: 153px;
  }
}

.book-trip__card {
  position: absolute;
  top: 61px;
  right: 400px;
  max-width: 370px;
  border-radius: 26px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  padding: 20px 25px 31px 25px;
}
@media screen and (max-width: 1444px) {
  .book-trip__card {
    top: 80px;
    right: 239px;
  }
}
@media screen and (max-width: 1026px) {
  .book-trip__card {
    max-width: 330px;
    top: 103px;
    right: 145px;
  }
}
@media screen and (max-width: 770px) {
  .book-trip__card {
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 430px) {
  .book-trip__card {
    width: 330px;
  }
}
@media screen and (max-width: 377px) {
  .book-trip__card {
    width: 320px;
  }
}
@media screen and (max-width: 322px) {
  .book-trip__card {
    width: 270px;
  }
}

.book-trip__bg-card-decore {
  position: absolute;
  top: -150px;
  right: 140px;
  z-index: -5;
}
@media screen and (max-width: 1444px) {
  .book-trip__bg-card-decore {
    top: -150px;
    right: 37px;
  }
}
@media screen and (max-width: 1026px) {
  .book-trip__bg-card-decore {
    top: -100px;
    right: 10px;
  }
}
@media screen and (max-width: 770px) {
  .book-trip__bg-card-decore {
    top: 450px;
  }
}
@media screen and (max-width: 430px) {
  .book-trip__bg-card-decore {
    top: 565px;
  }
}
@media screen and (max-width: 377px) {
  .book-trip__bg-card-decore {
    top: 535px;
  }
}
@media screen and (max-width: 322px) {
  .book-trip__bg-card-decore {
    top: 705px;
  }
}

.book-trip__card-img {
  margin-bottom: 26px;
}

.book-trip__card-title {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
}

.book-trip__card-text {
  font-size: 16px;
  color: #84829a;
  margin-bottom: 21px;
}

.book-trip__card-icons {
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.count-people-and-favorite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-people {
  font-size: 16px;
  padding-left: 30px;
  position: relative;
}
.count-people::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: url(..//img/book-trip/img-before-count-people.jpg);
}

.book-trip__inner-card {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  border-radius: 18px;
  max-width: 263px;
  min-height: 129px;
  position: absolute;
  top: 209px;
  right: -110px;
  padding: 16px 25px 22px 20px;
  display: flex;
  gap: 0 12px;
}
@media screen and (max-width: 430px) {
  .book-trip__inner-card {
    max-width: 230px;
    right: -20px;
  }
}

.img-container {
  width: 50px;
  height: 50px;
}

.inner-card-subtitle {
  color: #84829a;
  font-weight: 500;
  font-size: 14px;
}

.inner-card-title {
  font-weight: 500;
  font-size: 18px;
  color: #080809;
  margin-bottom: 14px;
}

.inner-card-bar {
  font-size: 14px;
  font-weight: 500;
  color: #080809;
  margin-bottom: 10px;
}

.inner-card-percent {
  color: #8a79df;
}

.section__reviews {
  padding-bottom: 96px;
}
@media screen and (max-width: 600px) {
  .section__reviews {
    overflow-x: hidden;
  }
}

.reviews__container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__row {
  display: flex;
  gap: 0 120px;
}
@media screen and (max-width: 1444px) {
  .reviews__row {
    flex-direction: column;
  }
}

.reviews__subtitle {
  text-transform: uppercase;
  text-align: left;
}
@media screen and (max-width: 1444px) {
  .reviews__subtitle {
    text-align: center;
    margin-bottom: 7px;
  }
}

.reviews__title {
  max-width: 410px;
  text-align: left;
}
@media screen and (max-width: 1444px) {
  .reviews__title {
    text-align: center;
    max-width: none;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 322px) {
  .reviews__title {
    font-size: 41px;
  }
}

.reviews__cards__container {
  position: relative;
}

.second-column {
  max-width: 600px;
  position: relative;
}
@media screen and (max-width: 1444px) {
  .second-column {
    margin: 0 auto 0 300px;
  }
}
@media screen and (max-width: 770px) {
  .second-column {
    margin: 0 auto 0 150px;
  }
}
@media screen and (max-width: 427px) {
  .second-column {
    margin: 0 auto 0 20px;
  }
}
@media screen and (max-width: 377px) {
  .second-column {
    margin: 0 auto 0 15px;
  }
}

.reviews__card__top {
  background: #fff;
  position: absolute;
  top: -9px;
  left: 0;
  border-radius: 10px;
  width: 504px;
  padding: 28px 34px 34px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
}
@media screen and (max-width: 650px) {
  .reviews__card__top {
    max-width: 450px;
  }
}
@media screen and (max-width: 427px) {
  .reviews__card__top {
    width: 370px;
  }
}
@media screen and (max-width: 377px) {
  .reviews__card__top {
    width: 320px;
  }
}
@media screen and (max-width: 322px) {
  .reviews__card__top {
    width: 270px;
  }
}

.card__top__img-container {
  position: absolute;
  top: -34px;
  left: -37px;
}
@media screen and (max-width: 322px) {
  .card__top__img-container {
    top: -42px;
    left: -31px;
  }
}

.reviews__card__text {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 34px;
}
@media screen and (max-width: 427px) {
  .reviews__card__text {
    margin-bottom: 20px;
  }
}

.reviews__card__username {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.reviews__card__user-from {
  font-weight: 600;
  font-size: 14px;
}

.reviews__card__bottom {
  margin: 90px 0 0 50px;
  border: 2px solid #f7f7f7;
  width: 504px;
  border-radius: 10px;
  padding: 28px 34px 34px;
}
@media screen and (max-width: 427px) {
  .reviews__card__bottom {
    width: 350px;
  }
}

.section__logos {
  padding-bottom: 111px;
}

.logos__container {
  max-width: 1113px;
  margin: 0 auto;
  padding: 0 20px;
}

.logos__row {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1444px) {
  .logos__row {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 427px) {
  .logos__row {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.logos__row__img {
  transition: 0.2s ease-in-out all;
  padding: 15px 30px;
}
@media screen and (max-width: 770px) {
  .logos__row__img {
    padding: 0px;
  }
}
.logos__row__img:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

@media screen and (max-width: 427px) {
  img.logos__row__img-1,
  img.logos__row__img-2,
  img.logos__row__img-3,
  img.logos__row__img-4,
  img.logos__row__img-5 {
    margin: 0 auto;
  }
}

.logos__row__img-1 {
  padding: 0px 40px;
}
@media screen and (max-width: 1444px) {
  .logos__row__img-1 {
    margin-left: 150px;
  }
}
@media screen and (max-width: 770px) {
  .logos__row__img-1 {
    margin-left: 37px;
  }
}

.logos__row__img-3 {
  padding: 0px 80px;
}

.logos__row__img-4 {
  padding: 50px 40px;
}
@media screen and (max-width: 1444px) {
  .logos__row__img-4 {
    margin-left: 300px;
  }
}
@media screen and (max-width: 770px) {
  .logos__row__img-4 {
    margin-left: 150px;
  }
}

.logos__row__img-5 {
  padding: 60px;
}

.section__news {
  padding: 80px;
  border-radius: 129px 20px 20px 20px;
  max-width: 1170px;
  min-height: 407px;
  margin: 0 auto;
  background: rgba(223, 215, 249, 0.2);
  position: relative;
}
@media screen and (max-width: 322px) {
  .section__news {
    overflow-x: hidden;
  }
}
.section__news::before {
  opacity: 0.2;
  z-index: -1;
  content: "";
  position: absolute;
  top: 131px;
  left: 20px;
  width: 389px;
  height: 397px;
  background: url(..//img/news/left-decore.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 770px) {
  .section__news::before {
    top: 142px;
  }
}
@media screen and (max-width: 430px) {
  .section__news::before {
    display: none;
  }
}
.section__news::after {
  opacity: 0.2;
  content: "";
  position: absolute;
  top: 0;
  right: -57px;
  width: 264px;
  height: 351px;
  background: url(..//img/news/right-decore.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 1444px) {
  .section__news {
    max-width: 850px;
  }
}
@media screen and (max-width: 770px) {
  .section__news {
    max-width: 630px;
  }
}
@media screen and (max-width: 430px) {
  .section__news {
    max-width: 310px;
    padding: 35px;
  }
}
@media screen and (max-width: 430px) {
  .section__news {
    max-width: 258px;
    padding: 35px;
  }
}
@media screen and (max-width: 322px) {
  .section__news {
    max-width: 258px;
    padding: 20px;
  }
}

.news__decore {
  position: absolute;
  top: 306px;
  right: -100px;
}
@media screen and (max-width: 1444px) {
  .news__decore {
    display: none;
  }
}

.news__decore-plane {
  z-index: 10;
  position: absolute;
  top: -13px;
  right: -20px;
}

.news__title {
  font-size: 33px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 74px;
}
@media screen and (max-width: 1444px) {
  .news__title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 770px) {
  .news__title {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 430px) {
  .news__title {
    font-size: 25px;
    padding: 50px 0;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 377px) {
  .news__title {
    padding: 70px 0 40px 0px;
    font-size: 22px;
  }
}

.news__form {
  max-width: 625px;
  display: flex;
  gap: 0 24px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 425px) {
  .news__form {
    gap: 24px;
    flex-direction: column;
  }
}

.news__form__input {
  width: 100%;
  outline: none;
  border: none;
  padding: 16px 56px;
  border-radius: 10px;
  background-color: #fff;
}

.news__form__input::-moz-placeholder {
  color: #39425d;
  font-size: 14px;
  font-weight: 600;
  font-style: "Open-Sans", sans-serif;
}

.news__form__input::placeholder {
  color: #39425d;
  font-size: 14px;
  font-weight: 600;
  font-style: "Open-Sans", sans-serif;
}

.news__form__btn {
  font-size: 17px;
  font-weight: 600;
  font-style: "Open-Sans", sans-serif;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  padding: 22px 50px;
}

.news__form__decore-inpt {
  position: absolute;
  top: 25px;
  left: 23px;
}

.footer {
  padding: 166px 0 79px 0;
}

.footer__container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 83px;
       column-gap: 83px;
}
@media screen and (max-width: 1444px) {
  .footer__grid {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (max-width: 770px) {
  .footer__grid {
    gap: 70px;
  }
}
@media screen and (max-width: 427px) {
  .footer__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer__text {
  width: 207px;
  max-width: 300px;
  font-size: 13px;
}
@media screen and (max-width: 1444px) {
  .footer__text {
    max-width: 160px;
  }
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__strong {
  display: block;
  color: #080809;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 34px;
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.fifth__column__footer__text {
  margin-bottom: 16px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer__list__item {
  font-weight: 500;
}

.fifth__column__footer__text {
  width: 173px;
  max-width: 200px;
  font-size: 20px;
  font-weight: 500;
}

.footer__btns {
  display: flex;
  gap: 7px;
}

.footer__copyright__text {
  padding-top: 84px;
  margin: 0 auto;
  max-width: 203px;
  font-size: 14px;
  font-weight: 500;
}

.google-play-btn {
  width: 107px;
}

.apple-store-btn {
  width: 103px;
}

@media screen and (max-width: 770px) {
  .first__column {
    grid-column: 1/6;
  }
}
@media screen and (max-width: 427px) {
  .first__column {
    grid-column: auto;
  }
}

@media screen and (max-width: 427px) {
  .first__column,
  .second__column,
  .third__column,
  .fourth__column {
    width: 140px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 427px) {
  .fifth__column {
    width: 240px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 377px) {
  .fifth__column {
    margin-left: 70px;
  }
}
@media screen and (max-width: 322px) {
  .fifth__column {
    margin-left: 40px;
  }
}/*# sourceMappingURL=main.css.map */