

body{
  font-size: 30px;
  color: #fff;
 
}

.container{
  background-color: pink;
  margin: 0 auto;
  max-width: 1400px;
  padding: 20px;
}

.text-all{
  color: red;
}


.text-mobile{
  display: none;
  color: aquamarine;
}

@media (max-width: 1600px){
  .text-pc{
    display: none;
  }
}

@media (max-width: 500px){
  .text-pc{
    display: none;
  }
  .text-mobile{
    display: block;
  }
}